/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import "https://www.nerdfonts.com/assets/css/webfont.css";

i {
  /* color: rgb(115 130 175 / 95%); */
  margin-left: 7px;
  margin-right: 7px;
}

body {
  color: rgb(255 255 255 / 90%);
  overflow: hidden;
  font-size: 13px;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

@keyframes flash {
  from { opacity: 1.0; }
  50% { opacity: 0.5; }
  to { opacity: 1.0; }
}

#root {
  border-bottom: 1px solid rgb(255 255 255 / 5%);
  user-select: none;  
  background: rgba(0, 0, 0, 0.347); /* semi-transparent for glass effect */
  backdrop-filter: blur(120px) saturate(160%);
  font-size: 12pt;
  font-family:  "Bahnschrift", monospace;
  -webkit-backdrop-filter: blur(120px) saturate(160%);
  box-shadow: 0 4px 24px 0 rgba(0,0,0,0.12);
  border-radius: 8px;
  position: relative;
}

#root::before {
  content: "";
  position: absolute;
  inset: 0;

  z-index: 1;
  opacity: 0.18;
  background: url('https://www.transparenttextures.com/patterns/noise.png');
}

.app {
  position: fixed;

  left: 6px;
  right: 6px;
  width: auto;
  margin:0 6px 0 6px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 13px;
  z-index: 10;
  pointer-events: auto !important;
}

.left, .right {
  display: flex;
  align-items: center;
}

.left {
  justify-content: flex-start;
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.right {
  justify-content: flex-end;
} 



.logo,
.binding-mode,
.tiling-direction,
.network,
.memory,
.volume,
.cpu,
.cycle_count,
.battery {
  margin-right: 5px;
}

.network,
.cycle_count,
.uptime,
.memory,
.cpu,
.battery,
.weather {
  background: rgb(255 255 255 / 7%);
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
}


.btn{
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  pointer-events: auto !important;

}

.btn1{
  border: none;
  background: transparent;
  color: violet;
  cursor: pointer;
}

.media-title-scroll-container {
  width: 180px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.media-title-scroll {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 8s linear infinite;
  font-size: 1em;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(0%);
  }
  90% {
    transform: translateX(calc(-100% + 180px));
  }
  100% {
    transform: translateX(calc(-100% + 180px));
  }
}

.media-title-scroll:not(:hover) {
  animation-play-state: running;
}
.media-title-scroll:hover {
  animation-play-state: paused;
}